.nav{
  display: flex;
}
.link{
  margin: 20px;
  
}
body{
  background-color: black;
}
.active{
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.allImages{
  display: flex;
  overflow-x: scroll;
}
.allImages::-webkit-scrollbar{
   display: none;
}
img{
  margin: 10px;
}